<!DOCTYPE html>
<html>
  <head>
    <title>Haircountabliity</title>
    <link rel='stylesheet' href='~/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    <h1 class="jumbotron">Look at this example of a layout in a div</h1>
    <div class="container">
      @RenderBody()
    </div>
    <div class="container">
      <p> look at how the top and bottom stay the same</p>
  </body>
</html>
