<!DOCTYPE html>
<html>
  <head>
    <title>Haircountabliity</title>
    <link rel='stylesheet' href='~/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
      @RenderBody()
  </body>
</html>
