@{
Layout="_Layout";
}

<div class="container">
<h3>Here is a list of the clients booked to this employee:</h3>

<ol>
@foreach<var client in @Model["clients"])
{
<li> link for RESTful routing to show child object in parent object</li>
}
</ol>

</div>
