@{
Layout="_Layout";
}
<div class ="container">
<h1>Haircountabliity</h1>
<p>Welcome to Haircountabliity, the app you can use to keep track of the stylists at your salon/barbershop and their clients!</p>
<br>
<br>
<h3><a href='/stylists'>View employees</a></h3>
<h3><a href='/stylists/new'>Add a new Stylist</a></h3>
